<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <nav th:fragment="navbar()">
      <div class="navbar">
        <div class="logo">
          <a th:href="@{/}">🍕 Pizza Window</a>
        </div>
        <div class="nav-links">
          <a th:href="@{/}">Home</a>
          <a th:href="@{/products}">Menu</a>
          <a th:href="@{/location}">Location</a>
          <a th:href="@{/about}">About</a>
          <a th:href="@{/login}">Login</a>
        </div>
      </div>
    </nav>
  </body>
</html>
